.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;
  gap: 100px;
}

.card {
  width: 540px;
  text-align: left;
}

.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto 32px;
}
.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #000;
  margin: 0 10px;
}
