.footer {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #0a2850;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.footer__logo img {
  width: 105px;
  height: 39px;
}

.footer__social {
  text-align: right;
}

.footer__social-heading {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}
.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social-link {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin: 108px 0 0;
}
