.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
  top: auto;
}

.nav__links {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0%;
  margin: 0;
}
.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover {
  color: #2f80ed;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
