.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  height: 100%;
}

.reservation__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px auto 80px;
  text-align: center;
}
